/*
	Creator : Harshal SOni;
	Url : www.facebook.com/coolkps;
	email : shotbyhms@gmail.com.com;
	description :Contains all the styles for index.html;
*/

.show {
    opacity :1;
    display: block;
}

.hide{
    opacity: 0;
    display: none;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}
